body {
  background-color: #ddd;
}

.App {
  text-align: center;
  padding: 2em;
}

.group {
  width: fit-content;
  grid-template-columns: auto 1fr;
  display: grid;
  grid-template-areas:
    "items pickall"
    "summary x";
}

.group-items {
  grid-area: "items";
  display: flex;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 0;
  width: fit-content;
  background-color: white;
}

.subgroup {
  border-left: 1px solid #ddd;
  padding: 0.5em;
}

.subgroup:first-child {
  border-left: none;
}

.deck {
  display: flex;
  gap: 0.5em;
}

.deck button {
  width: 3em;
  height: 4em;
  border: 1px solid #333;
  border-radius: 0.5em;

}

.deck .undealt {
  background-color: #333;
  color: white;
}

.undealt:hover {
  background-color: #555;
  cursor: pointer;
}

.deck .undealt-none,
.deck .card-space {
  background-color: transparent;
  border-style: dashed;
}

.die button {
  width: 3em;
  height: 3em;
  margin: 0.5em;
}

.pickall {
  width: 3em;
  height: 3em;
  margin: 0.5em;
  border: 1px solid white;
  border-radius: 100%;
  background-color: #333;
  color: white;
  grid-area: "pickall";
}

.pickall:hover {
  background-color: #555;
  cursor: pointer;
}

.summary {
  grid-area: "summary";
}