.group {
    width: fit-content;
    grid-template-columns: auto 1fr;
    display: grid;
    grid-template-areas:
        "items pickall"
        "summary x";

    .group-items {
        grid-area: items;
        display: flex;
        border: 1px solid #ccc;
        border-radius: 1em;
        padding: 0;
        width: fit-content;
        background-color: white;
    }

    .subgroup {
        border-left: 1px solid #ddd;
        padding: 0.5em;
    }

    .subgroup:first-child {
        border-left: none;
    }

    .deck {
        display: flex;
        gap: 0.5em;

        button {
            @extend %light-button;
            width: 3em;
            height: 4em;
        }

        .undealt {
            @extend %dark-button;
        }

        .undealt-none,
        .card-space {
            @extend %empty-button;
        }
    }

    .die button {
        @extend %light-button;
        width: 3em;
        height: 3em;
        margin: 0.5em;
    }

    .table button {
        height: 3em;
        margin: 0.5em;
    }

    .pickall {
        @extend %circular;
        @extend %dark-button;
        width: 3em;
        height: 3em;
        margin: 0.5em;
        grid-area: pickall;
    }

    .summary {
        grid-area: summary;
    }

    .none {
        @extend %empty-button;
        font-style: italic;
        width: 5em;
        height: 3em;
        margin: 0.5em;
    }
}

.add-group {
    button {
        @extend %empty-button;
        background-color: transparent;
        width: 4rem;
        height: 4rem;
        font-size: 3em;
        font-weight: bold;
        border-color: $darkest;
        align-self: center;
        margin-top: 0.25rem;
    }

    button:hover {
        background-color: $lightest;
        cursor: pointer;
    }
}

.group-edit {
    background-color: $lightest;
    padding: 0.5em;
    border-radius: 0.5em;
}