.group {
    text-align: center;
    width: fit-content;
    grid-template-columns: auto 1fr;
    display: grid;
    grid-template-rows: auto auto 1.5em;
    grid-template-areas:
        "title   x"
        "items   pickall"
        "summary y";

    header {
        grid-area: title;
        font-weight: bold;
        font-size: 0.8em;
        background-color: $darkest;
        color: $lightest;
        padding: 0.5em 1em;
        padding-bottom: 1.5em;
        border-radius: 0.5em;
        margin: 0 0.5em;
        margin-bottom: -1em;
        width: fit-content;
    
    }

    .group-items {
        grid-area: items;
        display: flex;
        border: 1px solid $darkest;
        border-radius: 0.5em;
        padding: 0;
        width: fit-content;
        background-color: white;
    }

    .subgroup {
        border-left: 1px solid #ddd;
        padding: 0.5em;
    }

    .subgroup:first-child {
        border-left: none;
    }

    .name {
        display: block;
        font-size: 0.8em;
        font-weight: bold;
        color: $middark;
        border-bottom: 1px solid $light;
        padding-bottom: 0.3em;
        margin-left: -0.5em;
        margin-right: -0.5em;
    }

    .deck {
        display: grid;
        column-gap: 0.5em;
        grid-template-areas: 
            "name name"
            "undealt dealt";

        button {
            @extend %light-button;
            width: 3em;
            height: 4em;
            margin-top: 0.5em;
        }

        .undealt {
            @extend %dark-button;
            grid-area: undealt;
        }

        .undealt-none,
        .card-space {
            @extend %empty-button;
        }

        .dealt {
            grid-area: dealt;
        }

        .name {
            grid-area: name;
        }
    }

    .die button {
        @extend %light-button;
        width: 3em;
        height: 3em;
        margin: 0.5em;
    }

    .table button {
        height: 3em;
        margin: 0.5em;
    }

    .pickall {
        @extend %circular;
        @extend %dark-button;
        width: 3em;
        height: 3em;
        margin: 0.5em;
        grid-area: pickall;
    }

    .summary {
        grid-area: summary;
        font-weight: bold;
        font-size: 0.8em;
        background-color: $darkest;
        color: $lightest;
        padding: 0.5em 1em;
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        margin: 0 0.5em;
        width: fit-content;
        justify-self: right;
    }

    .none {
        @extend %empty-button;
        font-style: italic;
        width: 5em;
        height: 3em;
        margin: 0.5em;
    }
}

.add-group {
    button {
        @extend %empty-button;
        background-color: transparent;
        width: 4rem;
        height: 4rem;
        font-size: 3em;
        font-weight: bold;
        border-color: $darkest;
        align-self: center;
        margin-top: 1em;
        margin-left: 1em;
    }

    button:hover {
        background-color: $lightest;
        cursor: pointer;
    }
}

.group-edit {
    background-color: $lightest;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: left;

    label {
        display: block;
        margin-top: 1em;
        padding: 1em;
        border-top: 1px solid $light;
    }

    input {
        margin-left: 0.5em;
    }

    button {
        margin: 0.5em;
    }


    button.cancel {
        border: none;
        background-color: transparent;
        border-bottom: 1px dashed $middark;
        margin-left: 2em;
    }
}