.library {
    width: 90vw;
    position: absolute;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "oracles group"
        "oracles menu";
    .oracles {
        grid-area: oracles;
        padding: 1em;
        color: $light;
        background-color: $darkest;
        border-radius: 0.5em;
        box-shadow: rgba($color: #000000, $alpha: 0.5) 0.1em 0.1em;
        section {
            display: flex;
            flex-wrap: wrap;
        }
        button {
            min-width: 5em;
            margin: 1em;
        }
    }

    .group {
        grid-area: group;
    }

    .menu {
        grid-area: menu;
    }
}